@mixin clearfix {
    &::after{
        content:'';
        display: table;
        clear:both;
    }
};

// 0-600px phone
// 600-900px tablet portrait
// 900 - 1200px tablet landscape
// 1200px - 1440px :current
// 1440 - big screen

//1em = 16px
@mixin respond($breakpoints){
  
  
   @if $breakpoints == tab-land {
    @media (max-width: 75em) {@content}
   };
   @if $breakpoints == tab-port {
    @media (max-width: 56.25em) {@content}
   };
   @if $breakpoints == phone {
    @media (max-width: 37.5em) {@content}
   };
   @if $breakpoints == big {
    @media (min-width: 112.5em) {@content}
   }
}